*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.big-container{
    padding: 1em;
    margin: 1em;
    gap: 20px;
}
.container{
    width: 40em;
    padding: 30px 30px;
    background-color: #eef1ff;
    border-radius: 2% ;
}
h1{
    text-align: center;
    margin-bottom: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: #e7eff0;
    text-shadow: rgb(70, 156, 189) 1px 0 10px;
}
.stats{
    display: flex;
    justify-content: space-between;
    font-size: 18;
    margin-bottom: 30px;
}
.stats span{
    font-weight: 600;
    color: #e81c43;
}
#quote{
    text-align: justify;
    margin: 50px 0 30px 0;
}
textarea{
    resize: none;
    width: 100%;
    border-radius: 5px;
    padding: 1em 0.5em;
    font-size: 15px;
}
button{
    margin-top: 20px;
    background-color: #44b267;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
}
.result{
    margin-top: 40px;
    display: none;
}
.result h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}
.wrapper{
    display: flex;
    justify-content: space-around;
}
.wrapper span{
    font-weight: 600;
}
.success{
    color: #44b267;
}
.fail{
    color: #e81c43;
}
@media (max-width: 640px) {
    h1{
        text-align: center;
        margin-bottom: 10px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2em;
        color: #e7eff0;
        text-shadow: rgb(70, 156, 189) 1px 0 10px; 
    }
    .container{
        width: 20em;
        padding: 10px 10px;
        background-color: #eef1ff;
        border-radius: 2%
    }
    .big-container{
        padding: 1em;
        margin: 1em;
        gap: 20px;
    }
}